footer {
    background-color: #000f2e;
    color: #ffffff;
}

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #000000;
    color: #FFFFFF;
}

.link {
    color: #ffffff;
}

.link:hover {
    color: #0048BD;
}

.footer-text {
    font-size: 0.85em;
}

.text-uppercase {
    font-family: "Barlow Condensed", sans-serif;
}