header {
    background-color: #000f2e;
    color: #ffffff;
    font-weight: 500;
}

.navbar {
    height: 80px;
}

.link {
    color: #ffffff;
}

.link:hover {
    color: #0048BD;
}

input::placeholder {
    font-size: 0.6em;
}

ul.navbar-nav {
    padding: 0 !important;
}

li.nav-item {
    margin: 0 15px;
    font-size: 0.9em;
    transition: transform 0.1s;
}

li.nav-item:active {
    transform: scale(0.97);
}

#search-bar {
    color: white;
    background-color: #172139;
    min-width: 300px;
    margin: 0 15px !important;
    border: none;
    border-radius: 5px;
    padding: 10px 18px;
}

#search-bar:focus {
    background-color: white;
    transition: 0.10s background-color;
}

#search-bar::placeholder {
    font-size: 0.8em;
    color: #a3bfe3;
}

#search-bar:focus::placeholder {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.25);
}