header {
    background-color: #000f2e;
    color: #ffffff;
}

.navbar {
    height: 80px;
}

.link {
    color: #ffffff;
}

.link:hover {
    color: #0048BD;
}

input::placeholder {
    font-size: 0.6em;
}