body {
    font-family: "Roboto", sans-serif;
}

/* Aide à bloquer le footer en bas de page */

html {
    position: relative;
    min-height: 100%;
}

.horizontal-sep {
    height: 2px;
    width: 25px;
    background-color: #3a476a;
    border-radius: 25px;
    margin: 5px 0;
}

.text-right {
    text-align: right;
}

#main-section {
    min-height: 100vh;
}